// {
//   [
//      "presets":"es2015"
//   ]

// }
{
    "presets": [["babel-preset-env",
      {
        "targets": {
          "chrome": "67",
          "firefox": "60"
        }
      }
    ]]
  } 